# SPDX-License-Identifier: GPL-2.0-only

config ATC_WIFI_CHIP_MT6630_SDIO
	tristate "ATC_WIFI_CHIP=ATC_CHIP_MT6630"
	depends on ATC_WIFI_CHIP_SELF_ADAPTIVE || (ATC_WIFI_CHIP="ATC_CHIP_MT6630" && ATC_WLAN_TRANSMISSION_MODE="SDIO_MODE")
	select ATC_COMBO
	default y
