[submodule "app-language"]
	path = app-language
	url = ssh://wuww@192.168.100.23:29418/autoapps/languages/AutoRadio
	branch = COMMON_app-language
[submodule "app-overlay"]
	path = app-overlay
	url = ssh://wuww@192.168.100.23:29418/autoapps/languages/AutoRadio
	branch = COMMON_app-overlay
