# SPDX-License-Identifier: GPL-2.0-only

config WLAN_VENDOR_ATC
	bool "AIC devices"
	default y

if WLAN_VENDOR_ATC
source "drivers/net/wireless/connectivity/atc_combo/Kconfig"
source "drivers/net/wireless/connectivity/mt6630/Kconfig"
endif
